// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #FC4A1A;
$orange: #f6993f;
$yellow: #F7B733;
$green: rgb(74, 189, 172);
$teal: #4dc0b5;
$cyan: #6cb2eb;

$deepRed: #D1294A;
$gray: #DFDFD9;
$blue: #818D98;
$white: #F1F1F2;
$darkBlack: #1A1C1E;
$lightBlack: hsl(200, 4%, 14%);

$blue-dark: #2A5084;
$blue-light: #4C5F76;
$orange-dark: #F46A03;
$orange-light: #F7A851;
$green-dark: #697217;

$red-dark: #421312;
$red-light: #AA2A25;

//Margins

.mb1 {
    margin-bottom: 1rem;
  }
  





