.grid-container {
    display: grid;
    grid-template-columns: 40% 30% auto;
    background-color: $white;
    padding: 10px;
    .list {

      &__title {
        grid-area: 1 / 1 / 1 / 4;
      }

        &__photo {
            img {
                width: 95%;
            }
        }
    }
}

hr.m0 {
  margin: 0;
}
