.bg-blue {
    background-color: $blue-light;
}

#app {
    
    nav {
        background-color: $blue-dark;
        & a.navbar-brand {
            color:$white;
        }
    }
main {
    min-height: calc(100vh - 55.0333px);
    height: calc(100% - 55.0333px);
}

}
